<!DOCTYPE html>
<html>
  <head>
    <title>Leg Day Excuses</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<div style="position:absolute; top: 0px; bottom: 0px; left: 0px; right: 0px; margin: auto; text-align:center; width: 80%">
  		<div>
		    <h1><%= excuse %></h1>
		    <p><%= followUp %></p>
		</div>

	    <div style="position: absolute; bottom: 20px; text-align:center; width: 100%; font-size: 10px">
	    	<div>Made in 36 minutes and 48 seconds by @hammertime38, who doesn't have patience for CSS.</div>
	    	<div style="display:inline-block">
	    		<a href="https://github.com/Hammertime38/leg-day-excuses"><img src="/images/github.svg" width="20px" height="20px" /></a> <a href="https://twitter.com/hammertime38"><img src="/images/twitter.png" width="20px" height="20px" /></a>
	    	</div>
	    </div>
	</div>
  </body>
</html>